<div class="home-background fade-in"></div>

<div class="main-content home-content fade-in">
  <div class="banner slide-in-left" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font bounce">conduit</h1>
      <p class="fade-in">A place to share your <i>Angular</i> knowledge.</p>
      <img
        src="/assets/chien.gif"
        alt="Chien"
        class="chien-gif slide-in-right"
      />
      <button class="btn btn-primary slide-in-left" (click)="openPopup()">
        Open Mindmap
      </button>
      <iframe
        id="introVideo"
        class="intro-video fade-in"
        src="https://www.youtube.com/embed/HuFYqnbVbzY?autoplay=1&loop=1&controls=0&playlist=HuFYqnbVbzY"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9 slide-in-left">
        <div class="feed-toggle card">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item card fade-in">
              <a
                class="nav-link"
                [ngClass]="{ active: listConfig.type === 'feed' }"
                (click)="setListTo('feed')"
                style="transition: transform 0.3s ease-in-out"
                (mouseover)="onMouseOver($event)"
                (mouseout)="onMouseOut($event)"
                (click)="openModal('feedModal')"
              >
                Your Feed
              </a>
            </li>
            <li class="nav-item card fade-in">
              <a
                class="nav-link"
                [ngClass]="{
                  active: listConfig.type === 'all' && !listConfig.filters.tag
                }"
                (click)="setListTo('all')"
                style="transition: transform 0.3s ease-in-out"
                (mouseover)="onMouseOver($event)"
                (mouseout)="onMouseOut($event)"
                (click)="openModal('globalFeedModal')"
              >
                Global Feed
              </a>
            </li>
            <li
              class="nav-item card fade-in"
              [hidden]="!listConfig.filters.tag"
            >
              <a
                class="nav-link active"
                style="transition: transform 0.3s ease-in-out"
                (mouseover)="onMouseOver($event)"
                (mouseout)="onMouseOut($event)"
                (click)="openModal('tagModal')"
              >
                <i class="ion-pound"></i> {{ listConfig.filters.tag }}
              </a>
            </li>
          </ul>
        </div>

        <div class="card fade-in">
          <app-article-list
            [limit]="10"
            [config]="listConfig"
          ></app-article-list>
        </div>
      </div>

      <div class="col-md-3 slide-in-right" *rxLet="tags$; let tags">
        <div class="sidebar card">
          <p class="fade-in">Popular Tags</p>

          <div class="wrapper">
            <div class="inner" [style.--quantity]="tags.length">
              <div
                class="card fade-in"
                *ngFor="let tag of tags; let i = index"
                [style.--index]="i"
                [style.--color-card]="getColor(i)"
                (click)="setListTo('all', { tag: tag })"
                (mouseover)="showTooltip($event, tag)"
                (mouseout)="hideTooltip($event)"
              >
                <div class="img">{{ tag }}</div>
              </div>
            </div>
          </div>

          <div [hidden]="tagsLoaded" class="card fade-in">Loading tags...</div>

          <div [hidden]="!tagsLoaded || tags.length > 0" class="card fade-in">
            No tags are here... yet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
<div id="feedModal" class="modal fade-in">
  <div class="modal-content">
    <span class="close" (click)="closeModal('feedModal')">&times;</span>
    <p>Details about Your Feed...</p>
  </div>
</div>

<div id="globalFeedModal" class="modal fade-in">
  <div class="modal-content">
    <span class="close" (click)="closeModal('globalFeedModal')">&times;</span>
    <p>Details about Global Feed...</p>
  </div>
</div>

<div id="tagModal" class="modal fade-in">
  <div class="modal-content">
    <span class="close" (click)="closeModal('tagModal')">&times;</span>
    <p>Details about the selected tag...</p>
  </div>
</div>

<!-- Tooltip -->
<div id="tooltip" class="tooltip fade-in"></div>
